In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import Ridge

import os
imgdir = 'output_images'
if not os.path.isdir(imgdir):
    os.mkdir(imgdir)
brands = ['Gummies', 'Sugar Buns', 'Sparkle Pop']
spend_types = ['Trade', 'Search', 'Display']

In [20]:
promosample = pd.DataFrame({
    'Type':['trade', 'search'],
    'Spend':[990, 120], 'Brand': brands[:2], 
    'date':['2018-02-01', '2018-02-01']}).set_index(['Brand', 'Type', 'date'])

In [21]:
promosample

                              Spend
Brand      Type   date
Gummies    trade  2018-02-01    990
Sugar Buns search 2018-02-01    120

In [22]:
salessample = pd.DataFrame({'Brand': brands[:2], 
    'date':['2018-02-01', '2018-02-01'],
                           'sales': [1500, 100]}).set_index(['Brand', 'date'])

In [23]:
salessample

                       sales
Brand      date
Gummies    2018-02-01   1500
Sugar Buns 2018-02-01    100

In [107]:
np.random.seed(0)
rois = {t : {b : np.random.rand() + (i**2)/2 for b in ['aggregated'] + brands} for i, t in enumerate(spend_types)}

In [108]:
rois

{'Display': {'Gummies': 2.383441518825778,
  'Sparkle Pop': 2.5288949197529043,
  'Sugar Buns': 2.7917250380826646,
  'aggregated': 2.9636627605010295},
 'Search': {'Gummies': 1.1458941130666562,
  'Sparkle Pop': 1.3917730007820799,
  'Sugar Buns': 0.9375872112626925,
  'aggregated': 0.9236547993389047},
 'Trade': {'Gummies': 0.7151893663724195,
  'Sparkle Pop': 0.5448831829968969,
  'Sugar Buns': 0.6027633760716439,
  'aggregated': 0.5488135039273248}}

In [109]:
salessample = pd.DataFrame({'Brand': ['Aggregated'] + brands}).set_index('Brand')

In [110]:
for k in rois:
    salessample[k] = rois[k].values()

In [111]:
salessample.loc['Gummies', 'Display'] = 0.6

In [112]:
salessample.loc['Aggregated', :] = salessample.iloc[1:,:].mean(0)

In [113]:
salessample.round(2)

             Trade  Search  Display
Brand
Aggregated    0.62    1.16     1.97
Gummies       0.72    1.15     0.60
Sugar Buns    0.60    0.94     2.79
Sparkle Pop   0.54    1.39     2.53