In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

In [2]:
DATA_START = pd.to_datetime('2015-01-01')
DATASET_END = pd.to_datetime('2018-01-01')
NUM_SAMPLES = int(1e6)
MIN_APT_SIZE = 600

In [3]:
listing_dates = DATA_START + pd.to_timedelta(np.random.randint(0, 365*3, size=NUM_SAMPLES), unit='D')

In [4]:
house_qualities = np.random.exponential(size=NUM_SAMPLES)
years_since_remodel = np.random.exponential(scale=1e1,size=NUM_SAMPLES)
size_bonus = np.random.rand(NUM_SAMPLES) * 100
listing_price = np.clip(house_qualities * 400000 - years_since_remodel * 1000, 1000, None)

In [5]:
sqft = house_qualities * 1000 + size_bonus + MIN_APT_SIZE

In [6]:
bedroom_bonus = np.random.rand(NUM_SAMPLES) * 1000
bedrooms = np.floor(np.power((sqft + bedroom_bonus) * house_qualities // 300, .4))
#If more bedrooms per same space, fewer bathrooms can fit (hypothetical to make data more interesting)
bathroom_bonus = np.random.rand(NUM_SAMPLES) * 1000 * house_qualities - 1000 * bedrooms
bathrooms = np.floor(np.power(np.clip((sqft + bathroom_bonus) // 10, 0, None) + 1, .3))

In [7]:
#inspection

In [8]:
print('bedroom listing_price correlation,', np.corrcoef(bedrooms, listing_price)[0,1])

bedroom listing_price correlation, 0.9600297810667326

In [9]:
print('bathrooms listing_price correlation,', np.corrcoef(bathrooms, listing_price)[0,1])

bathrooms listing_price correlation, 0.3115627269940307

In [10]:
print('bedroom bathroom correlation,', np.corrcoef(bedrooms, bathrooms)[0,1])
print('bedroom min mean max', bedrooms.min(), bedrooms.mean(), bedrooms.max())
print('bathroom miin mean max',bathrooms.min(), bathrooms.mean(), bathrooms.max())

bedroom bathroom correlation, 0.1289277744494703
bedroom min mean max 0.0 1.516093 13.0
bathroom miin mean max 1.0 2.678189 8.0

In [11]:
(listing_dates - DATA_START).days.values.astype(float)

array([ 903.,  301.,  910., ...,  489.,  643., 1002.])

In [12]:
time_bonus = (listing_dates - DATA_START).days.values.astype(float)

In [13]:
bath_bed_penalty = bathrooms - bedrooms
bath_bed_ind = bathrooms > bedrooms

In [14]:
broker = np.random.randint(0, 2, NUM_SAMPLES)

In [15]:
sell_inv = bedrooms * bathrooms/bedrooms.std()/bathrooms.std() + bedrooms/bedrooms.std()
sell_inv += broker
sell_inv += time_bonus/time_bonus.std()
sell_inv += bathrooms/bathrooms.std() + sqft/sqft.std()
sell_inv += house_qualities*2
sell_inv += size_bonus/size_bonus.std()
sell_inv -= years_since_remodel/years_since_remodel.std()
sell_inv += np.random.rand(NUM_SAMPLES) + 10
sell_inv[bath_bed_ind] = sell_inv[bath_bed_ind] - bath_bed_penalty[bath_bed_ind]/2
sales_duration = np.floor(1/sell_inv * 3000).astype(int)

In [16]:
sales_duration.min(), sales_duration.mean(), sales_duration.std(), sales_duration.max()

(20, 139.562799, 40.36812847142655, 922)

In [17]:
sales_duration

array([ 76, 154, 134, ..., 192, 129, 116])

In [18]:
def plt_clipped(a):
    clip_max = np.percentile(a, 99)
    a = np.clip(a, a.min(), clip_max)
    #a = a[a < clip_max]
    plt.hist(a, bins=100)

In [19]:
sales_date = listing_dates + pd.to_timedelta(sales_duration,unit='D')

In [20]:
final_df = pd.DataFrame({'SalesDate':sales_date, 'ListingDate':listing_dates,
              'bedrooms':bedrooms,'bathrooms':bathrooms,'sqft':sqft,'years_since_remodel':years_since_remodel,
                        'broker': broker})

In [21]:
final_df.loc[final_df.SalesDate > DATASET_END, 'SalesDate'] = np.nan

In [22]:
cnt = 0
for ridx in np.random.choice(final_df.shape[0], final_df.shape[0]//6, replace = False):
    cnt += 1
    if cnt % 10000 == 0:
        print(cnt, cnt/final_df.shape[0]*6)
    if final_df.loc[ridx,'broker']:
        if np.random.rand() > .5:
            final_df.loc[ridx, 'sqft'] += 100
            final_df.loc[ridx, 'bedrooms'] = np.nan
        else:
            final_df.loc[ridx, 'bedrooms'] += 1
            final_df.loc[ridx, 'sqft'] = np.nan
    else:
        feature = np.random.randint(2, final_df.shape[1])
        final_df.iloc[ridx, feature] = np.nan
    final_df.loc[ridx,'broker'] = np.nan

10000 0.05
20000 0.1
30000 0.15
40000 0.2
50000 0.25
60000 0.3
70000 0.35000000000000003
80000 0.4
90000 0.44999999999999996
100000 0.5
110000 0.55
120000 0.6
130000 0.65
140000 0.7000000000000001
150000 0.75
160000 0.8

In [23]:
final_df.to_csv('houselistings_simulated.csv')

In [24]:
final_df.isnull().sum()

ListingDate                 0
SalesDate              117995
bathrooms               16627
bedrooms                58868
broker                 166666
sqft                    58027
years_since_remodel     16600
dtype: int64

In [25]:
final_df

,ListingDate,SalesDate,bathrooms,bedrooms,broker,sqft,years_since_remodel
0,2017-06-22,2017-09-06,4.0,3.0,0.0,3429.597547,18.955974
1,2015-10-29,2016-03-31,3.0,1.0,1.0,1156.326659,3.407768
2,2017-06-29,2017-11-10,3.0,1.0,1.0,1237.643572,1.684121
3,2016-01-11,2016-07-11,1.0,1.0,0.0,906.362675,13.295783
4,2015-08-31,2016-04-04,3.0,0.0,1.0,830.092667,22.250056
5,2015-02-25,2015-05-06,4.0,4.0,0.0,3834.721655,1.638502
6,2015-12-10,2016-03-12,3.0,3.0,0.0,2973.543188,2.274498
7,2017-09-21,NaT,2.0,2.0,0.0,1741.543443,5.489107
8,2017-02-14,2017-07-01,3.0,1.0,NaN,1657.706389,17.784693
9,2015-03-20,2015-11-25,3.0,0.0,0.0,751.573914,21.218993
10,2015-01-05,2015-05-07,1.0,3.0,0.0,2282.377818,3.163126
11,2016-12-18,2017-04-28,4.0,1.0,1.0,1473.130772,19.160474
12,2015-10-21,2016-01-19,3.0,3.0,1.0,2672.359151,12.489270
13,2017-01-21,2017-03-25,5.0,4.0,0.0,3702.290558,12.991105
14,2016-11-27,2017-04-29,1.0,1.0,1.0,982.495188,1.025156
15,2017-12-06,NaT,1.0,2.0,0.0,1539.494421,19.314756
16,2017-05-26,2017-08-31,3.0,3.0,1.0,2349.023063,16.523051
17,2015-05-18,2015-09-14,3.0,2.0,0.0,2072.328267,10.708397
18,2016-11-18,2017-05-28,3.0,0.0,0.0,671.490279,10.419108
19,2017-08-20,2017-12-08,2.0,2.0,NaN,2007.268056,6.759563
20,2015-08-10,2015-11-11,3.0,3.0,1.0,2321.175248,6.286191
21,2015-01-24,2015-06-15,3.0,1.0,1.0,1333.459169,0.106063
22,2016-07-17,2016-12-28,NaN,1.0,NaN,1007.118968,0.460090
23,2016-07-25,2016-11-11,2.0,3.0,NaN,2869.146776,25.112616
24,2015-03-04,2015-07-30,1.0,2.0,1.0,1447.829177,3.789063
25,2015-05-22,2015-11-01,2.0,1.0,1.0,988.287775,0.498734
26,2017-09-29,NaT,1.0,2.0,0.0,1642.439288,7.009111
27,2015-07-18,2015-12-03,3.0,1.0,1.0,1094.568212,11.448891
28,2017-12-06,NaT,3.0,2.0,0.0,2055.057746,11.152082
29,2015-01-07,2015-05-11,3.0,2.0,1.0,1848.261104,9.763658
...,...,...,...,...,...,...,...
999970,2016-02-03,2016-05-29,4.0,1.0,1.0,1513.899337,0.120621
999971,2015-03-25,2015-09-05,2.0,1.0,0.0,1206.258194,4.781166
999972,2015-08-17,2016-01-21,2.0,1.0,1.0,1175.365543,11.188547
999973,2016-11-02,2017-04-15,1.0,1.0,1.0,927.003554,5.726428
999974,2015-05-13,2015-11-12,1.0,1.0,1.0,920.627173,15.562809
999975,2016-06-01,2016-11-19,2.0,1.0,0.0,1074.483317,8.641092
999976,2015-12-16,2016-05-22,2.0,1.0,1.0,1132.655045,3.322397
999977,2015-08-25,2015-11-04,4.0,4.0,0.0,3533.568326,6.675725
999978,2015-07-29,2015-12-27,1.0,2.0,0.0,1626.771530,10.989650
999979,2015-04-03,2015-09-09,1.0,2.0,1.0,1491.904767,29.027901
999980,2015-03-17,2015-09-09,2.0,1.0,1.0,1214.129331,38.684092
999981,2016-05-28,2016-11-30,3.0,0.0,1.0,770.705950,7.744471
999982,2015-06-26,2015-12-02,3.0,1.0,NaN,1345.572931,38.108479
999983,2017-10-26,NaT,1.0,2.0,NaN,NaN,26.568871
999984,2015-04-15,2015-07-25,3.0,3.0,0.0,2312.523535,10.967430
999985,2016-04-18,2016-08-24,2.0,2.0,1.0,1457.258026,13.631981
999986,2017-11-13,NaT,3.0,1.0,1.0,1408.365535,0.634382
999987,2016-01-07,2016-06-04,3.0,1.0,0.0,1283.462225,6.592031
999988,2016-06-17,2016-11-08,3.0,2.0,NaN,NaN,1.423230
999989,2015-04-15,2015-10-27,1.0,1.0,1.0,932.715160,27.144800
999990,2015-01-01,2015-04-14,2.0,4.0,NaN,NaN,1.143391
999991,2015-09-01,2015-12-17,3.0,2.0,1.0,1792.337398,4.522894
999992,2015-10-02,2016-01-21,4.0,2.0,0.0,2026.186594,20.836995
999993,2017-12-25,NaT,2.0,NaN,NaN,1156.629690,12.352460
999994,2017-09-27,NaT,1.0,1.0,NaN,968.436509,NaN
999995,2016-03-08,2016-11-24,3.0,0.0,0.0,750.196688,34.713034
999996,2015-07-28,2015-12-17,3.0,NaN,NaN,1633.230284,13.557036
999997,2016-05-04,2016-11-12,NaN,0.0,NaN,804.381165,1.907814
999998,2016-10-05,2017-02-11,3.0,NaN,NaN,1534.931883,6.128812
999999,2017-09-29,NaT,2.0,2.0,1.0,1923.951339,28.646053