In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

In [2]:
DATA_START = pd.to_datetime('2015-01-01')
DATASET_END = pd.to_datetime('2018-01-01')
NUM_SAMPLES = int(1e5)
MIN_APT_SIZE = 600

In [3]:
listing_dates = DATA_START + pd.to_timedelta(np.random.randint(0, 365*3, size=NUM_SAMPLES), unit='D')

In [4]:
house_qualities = np.random.exponential(size=NUM_SAMPLES)
years_since_remodel = np.random.exponential(scale=1e1,size=NUM_SAMPLES)
size_bonus = np.random.rand(NUM_SAMPLES) * 100
listing_price = np.clip(house_qualities * 400000 - years_since_remodel * 1000, 1000, None)

In [5]:
sqft = house_qualities * 1000 + size_bonus + MIN_APT_SIZE

In [6]:
bedroom_bonus = np.random.rand(NUM_SAMPLES) * 1000
bedrooms = np.floor(np.power((sqft + bedroom_bonus) * house_qualities // 300, .4))
#If more bedrooms per same space, fewer bathrooms can fit (hypothetical to make data more interesting)
bathroom_bonus = np.random.rand(NUM_SAMPLES) * 1000 * house_qualities - 1000 * bedrooms
bathrooms = np.floor(np.power(np.clip((sqft + bathroom_bonus) // 10, 0, None) + 1, .3))

In [7]:
#inspection

In [8]:
print('bedroom listing_price correlation,', np.corrcoef(bedrooms, listing_price)[0,1])

bedroom listing_price correlation, 0.9600408459038612

In [9]:
print('bathrooms listing_price correlation,', np.corrcoef(bathrooms, listing_price)[0,1])

bathrooms listing_price correlation, 0.30991081995284797

In [10]:
print('bedroom bathroom correlation,', np.corrcoef(bedrooms, bathrooms)[0,1])
print('bedroom min mean max', bedrooms.min(), bedrooms.mean(), bedrooms.max())
print('bathroom miin mean max',bathrooms.min(), bathrooms.mean(), bathrooms.max())

bedroom bathroom correlation, 0.12783694505764476
bedroom min mean max 0.0 1.50921 12.0
bathroom miin mean max 1.0 2.67764 7.0

In [11]:
(listing_dates - DATA_START).days.values.astype(float)

array([1011., 1084., 1007., ...,  682.,  733.,  885.])

In [12]:
time_bonus = (listing_dates - DATA_START).days.values.astype(float)

In [13]:
bath_bed_penalty = bathrooms - bedrooms
bath_bed_ind = bathrooms > bedrooms

In [14]:
broker = np.random.randint(0, 2, NUM_SAMPLES)

In [15]:
sell_inv = bedrooms * bathrooms/bedrooms.std()/bathrooms.std() + bedrooms/bedrooms.std()
sell_inv += broker
sell_inv += time_bonus/time_bonus.std()
sell_inv += bathrooms/bathrooms.std() + sqft/sqft.std()
sell_inv += house_qualities*2
sell_inv += size_bonus/size_bonus.std()
sell_inv -= years_since_remodel/years_since_remodel.std()
sell_inv += np.random.rand(NUM_SAMPLES) + 10
sell_inv[bath_bed_ind] = sell_inv[bath_bed_ind] - bath_bed_penalty[bath_bed_ind]/2
sales_duration = np.floor(1/sell_inv * 3000).astype(int)

In [16]:
sales_duration.min(), sales_duration.mean(), sales_duration.std(), sales_duration.max()

(22, 139.41186, 40.31076173108615, 463)

In [17]:
sales_duration

array([ 91, 138, 184, ..., 133, 188,  94])

In [18]:
def plt_clipped(a):
    clip_max = np.percentile(a, 99)
    a = np.clip(a, a.min(), clip_max)
    #a = a[a < clip_max]
    plt.hist(a, bins=100)

In [19]:
sales_date = listing_dates + pd.to_timedelta(sales_duration,unit='D')

In [20]:
final_df = pd.DataFrame({'SalesDate':sales_date, 'ListingDate':listing_dates,
              'bedrooms':bedrooms,'bathrooms':bathrooms,'sqft':sqft,'years_since_remodel':years_since_remodel,
                        'broker': broker})

In [21]:
final_df.loc[final_df.SalesDate > DATASET_END, 'SalesDate'] = np.nan

In [22]:
cnt = 0
for ridx in np.random.choice(final_df.shape[0], final_df.shape[0]//6, replace = False):
    cnt += 1
    if cnt % 10000 == 0:
        print(cnt, cnt/final_df.shape[0]*6)
    if final_df.loc[ridx,'broker']:
        if np.random.rand() > .5:
            final_df.loc[ridx, 'sqft'] += 100
            final_df.loc[ridx, 'bedrooms'] = np.nan
        else:
            final_df.loc[ridx, 'bedrooms'] += 1
            final_df.loc[ridx, 'sqft'] = np.nan
    else:
        feature = np.random.randint(2, final_df.shape[1])
        final_df.iloc[ridx, feature] = np.nan
    final_df.loc[ridx,'broker'] = np.nan

10000 0.6000000000000001

In [23]:
final_df.to_csv('houselistings_simulated.csv', index=False)

In [24]:
final_df.isnull().sum()

ListingDate                0
SalesDate              11643
bathrooms               1701
bedrooms                5795
broker                 16666
sqft                    5827
years_since_remodel     1663
dtype: int64

In [25]:
final_df

,ListingDate,SalesDate,bathrooms,bedrooms,broker,sqft,years_since_remodel
0,2017-10-08,NaT,4.0,2.0,0.0,2263.200297,3.189165
1,2017-12-20,NaT,2.0,NaN,NaN,1159.398712,13.919031
2,2017-10-04,NaT,3.0,0.0,0.0,771.294248,2.384003
3,2015-02-19,2015-08-06,1.0,1.0,1.0,1012.003459,2.515936
4,2017-09-22,NaT,3.0,2.0,1.0,1732.544302,4.220575
5,2015-05-22,2015-09-17,3.0,NaN,NaN,1978.633589,3.165217
6,2015-08-26,2016-01-26,3.0,1.0,0.0,1456.249476,3.764364
7,2017-06-10,2017-10-01,2.0,2.0,1.0,2087.071320,1.497180
8,2015-09-22,2016-01-30,2.0,2.0,0.0,2115.377784,7.116858
9,2017-07-12,2017-11-15,1.0,2.0,1.0,1574.613888,9.179006
10,2016-03-31,2016-06-11,2.0,5.0,1.0,4821.129464,12.194909
11,2016-01-15,2016-08-09,3.0,0.0,0.0,658.702465,1.694604
12,2016-05-15,2016-09-18,2.0,2.0,0.0,1563.651124,5.828813
13,2015-10-08,2016-02-28,3.0,1.0,1.0,1209.609109,10.114303
14,2015-07-11,2016-01-03,2.0,1.0,0.0,951.420517,28.459737
15,2017-06-17,2017-10-22,3.0,1.0,0.0,1306.011806,6.116814
16,2015-03-26,2015-10-14,1.0,1.0,0.0,891.324889,15.600577
17,2017-05-11,2017-10-28,3.0,0.0,1.0,701.406088,2.116797
18,2015-08-11,2015-12-06,3.0,2.0,0.0,1908.997352,2.606371
19,2016-06-09,2017-01-09,3.0,0.0,0.0,678.737605,17.345514
20,2016-09-18,2017-03-13,3.0,0.0,0.0,824.441365,1.044661
21,2017-12-23,NaT,3.0,0.0,1.0,764.168824,15.975150
22,2017-11-15,NaT,3.0,1.0,1.0,1088.318427,15.202789
23,2015-06-12,2016-01-14,3.0,0.0,1.0,782.615677,11.163989
24,2017-06-12,2017-09-17,4.0,2.0,NaN,NaN,0.010953
25,2017-04-05,2017-08-26,3.0,1.0,1.0,1109.916346,7.422473
26,2016-01-23,2016-06-22,2.0,NaN,NaN,1069.634060,10.552893
27,2015-01-24,2015-06-25,4.0,1.0,1.0,1395.213881,16.773748
28,2015-07-09,2015-09-07,4.0,5.0,0.0,4424.408885,0.109063
29,2016-02-11,2016-06-26,4.0,1.0,NaN,1482.300918,NaN
...,...,...,...,...,...,...,...
99970,2016-01-11,2016-06-07,2.0,1.0,1.0,1078.306012,3.429110
99971,2015-05-28,2015-10-21,3.0,1.0,1.0,1257.451209,3.111083
99972,2016-08-29,2017-02-22,3.0,0.0,1.0,781.778532,6.214310
99973,2015-12-24,2016-07-04,3.0,0.0,0.0,717.749041,7.177545
99974,2017-06-23,2017-12-09,1.0,1.0,0.0,888.066439,12.581704
99975,2015-11-03,2016-02-16,2.0,3.0,NaN,3015.971231,NaN
99976,2015-11-08,2016-04-08,3.0,1.0,0.0,1261.708118,5.277994
99977,2015-05-10,2015-07-16,4.0,4.0,1.0,3703.627174,5.361111
99978,2016-09-18,2017-03-24,1.0,1.0,0.0,848.203295,20.528509
99979,2016-07-02,2016-12-19,2.0,1.0,0.0,968.242909,29.847279
99980,2017-08-25,NaT,2.0,1.0,0.0,1106.372297,9.042946
99981,2017-02-01,2017-03-26,5.0,NaN,NaN,5080.465368,26.293790
99982,2016-05-10,2016-08-13,NaN,2.0,NaN,2310.604377,4.169448
99983,2015-01-05,2015-07-22,1.0,1.0,0.0,814.362643,1.566986
99984,2017-04-13,2017-08-17,3.0,2.0,NaN,NaN,1.866104
99985,2015-06-04,2015-11-01,3.0,1.0,0.0,1366.070176,6.467855
99986,2015-08-23,2015-12-28,2.0,2.0,0.0,1751.156230,15.267184
99987,2016-04-15,2016-08-21,3.0,1.0,0.0,1469.954069,2.662330
99988,2015-05-20,2015-11-22,3.0,0.0,1.0,774.523278,0.808480
99989,2017-11-21,NaT,3.0,NaN,NaN,682.173052,3.789375
99990,2017-07-23,2017-09-07,4.0,7.0,NaN,6283.902354,21.846847
99991,2015-04-03,2015-10-04,1.0,1.0,1.0,962.250231,6.375976
99992,2016-04-07,2016-08-24,1.0,2.0,1.0,1814.615961,22.194689
99993,2016-06-14,2016-08-15,4.0,6.0,NaN,NaN,13.521306
99994,2017-02-02,2017-08-06,3.0,0.0,0.0,895.766477,5.952746
99995,2017-08-13,2017-11-22,3.0,2.0,1.0,2269.517407,15.569222
99996,2015-04-01,2015-11-02,3.0,0.0,1.0,739.422205,2.746171
99997,2016-11-13,2017-03-26,2.0,1.0,1.0,1280.182600,2.676788
99998,2017-01-03,2017-07-10,3.0,NaN,NaN,701.761230,1.577024
99999,2017-06-04,2017-09-06,4.0,2.0,0.0,2425.997688,19.321317